@font-face {
  font-family: Overpass;
  src: local("Overpass-Bold"),
       url("/fonts/Overpass-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: Overpass;
  src: local("Overpass-Regular"),
       url("/fonts/Overpass-Light.woff");
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Overpass, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-content {
  max-width: 600px;
  padding: 15px;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
