---
title: Y U Break My Codes?
---

<div class="main-content" role="main">
  <h1>404 Page Not Found</h1>

  <p><strong>Srsly?</strong> This is a single page site and you managed to try and hit something that doesn't exist? I don't even know what to say to you. I really don't.</p>

  <p><a href="/"><%= image_tag "go-home.gif" %></a></p>
</div>
