---
title: Gray Gilmore | 404
description: Gray Gilmore is a software developer who writes a developer blog
  called Kermode and occasionally tweets as @graygilmore.
---

<div class="main-content" role="main">
  <h1>404 Page Not Found</h1>

  <p><a href="/"><%= image_tag "go-home.gif" %></a></p>
</div>
