---
title: Gray Gilmore. Local Hero.
---

<h1>Gray Gilmore</h1>

<p>
  I am a front-end web developer living in beautiful <a
  href="http://blog.graygilmore.com/post/68983017043/morning-walks-with-minnow-have-taken-on-a-whole">
  Victoria, BC</a>. I love CSS and building simple and modular stylesheets. You
  can read my <a href="/resume">resume</a> if you feel like learning more.
</p>

<ul class="projects">
  <li>
    <a href="http://code.graygilmore.com" title="Code">
      Code: A Developer's Blog
    </a>
  </li>
  <li>
    <a href="http://blog.graygilmore.com" title="Shades of Gray">
      Shades of Gray (Photo Blog)
    </a>
  </li>
</ul>

<h2>Social stuff</h2>

<ul class="social-outlets">
  <li>
    <a href="http://twitter.com/graygilmore" title="Twitter">@graygilmore</a>
  </li>
  <li><a href="http://codepen.io/graygilmore/" title="CodePen">CodePen</a></li>
  <li><a href="http://github.com/graygilmore" title="Github">Github</a></li>
  <li>
    <a href="https://instagram.com/graygilmore/" title="Instagram">Instagram</a>
  </li>
</ul>
