---
title: Gray Gilmore | Home
description: Gray Gilmore is a software developer who writes a developer blog
  called Kermode and occasionally tweets as @graygilmore.
---

<h1>Gray Gilmore</h1>

<p>
  Welcome to my little corner of the internet. My name is Gray and I write code
  for a living as a software developer. Check out some of my projects:
</p>

<ul class="projects">
  <li>
    <a href="https://kermode.co" title="Kermode">
      Kermode
    </a> – a blog about writing code.
  </li>
  <li>
    <a href="https://clapit.zone" title="Clap It Zone">
      Clap It Zone
    </a> – get more 👏 in your life.
  </li>
</ul>

<h2>Say Hello</h2>

<p>You can find me as <strong>@graygilmore</strong> on a number of platforms:</p>

<ul>
  <li>
    <a href="http://twitter.com/graygilmore" title="@graygilmore on Twitter">
      Twitter
    </a>
  </li>
  <li>
    <a href="http://codepen.io/graygilmore/" title="@graygilmore on CodePen">
      CodePen
    </a>
  </li>
  <li>
    <a href="http://github.com/graygilmore" title="@graygilmore on Github">
      Github
    </a>
  </li>
  <li>
    <a href="https://instagram.com/graygilmore/" title="@graygilmore on Instagram">
      Instagram
    </a>
  </li>
</ul>
