---
title: Gray Gilmore. Local Hero.
---

<div class="main-content" role="main">
  <h1>Gray Gilmore</h1>

  <p>
    I am a web developer based out of beautiful Victoria, BC. I enjoy
    <a href="http://code.graygilmore.com">writing code</a>,
    <a href="http://blog.graygilmore.com">taking pictures</a> and drinking beer.
  </p>

  <ul class="projects">
    <li><a href="http://code.graygilmore.com">Code: A Developer's Blog</a></li>
    <li><a href="http://code.graygilmore.com">Shades of Gray (Photo Blog)</a></li>
  </ul>

  <h2>Social stuff</h2>

  <ul class="git-social-wit-me">
    <li><a href="http://twitter.com/graygilmore">@graygilmore</a></li>
    <li><a href="http://codepen.io/graygilmore/">CodePen</a></li>
    <li><a href="http://github.com/graygilmore">Github</a></li>
    <li><a href="https://instagram.com/graygilmore/">Instagram</a></li>
  </ul>
</div>
