---
title: Gray Gilmore | Travel
description: A collection of favourite locations in cities around the globe.
---

<h1>Travel Guide</h1>

<p>A collection of favourite locations in a few cities around the globe.</p>

<ul>
  <% data.travel.cities.each do |city| %>
    <li>
      <a href="/travel/<%= city[0] %>"><%= city[1].name %></a>
    </li>
  <% end %>
</ul>
