---
title: Gray Gilmore's Resume
---

<a href="/">&larr; graygilmore.com</a>

<header>
  <h1>Gray Gilmore</h1>
  <p>
    <strong>Front-end Developer</strong><br>
    <a href="https://www.twitter.com/graygilmore">twitter.com/graygilmore</a><br>
    <a href="http://code.graygilmore.com">code.graygilmore.com</a>
  </p>
</header>

<h2>Skills</h2>

<ul>
  <li>Advanced CSS/Sass knowledge (more than I’m willing to admit)</li>
  <li>Strong HTML foundations</li>
  <li>JavaScript fundamentals</li>
  <li>Templating languages (e.g. Liquid)</li>
  <li>Ruby on Rails</li>
</ul>

<h2>Experience</h2>

<h3>Stembolt</h3>

<p><a href="https://stembolt.com/">stembolt.com</a></p>

<p>
  <em>2014 - Present</em><br>
  <strong>Developer</strong>
</p>

<p>Stembolt builds and maintains ecommerce websites for clients around the world. We use open source ecommerce platforms that we help maintain and drive forward. As a developer at Stembolt I am responsible for writing high quality code and guiding our clients through the sometimes unpredictable ecommerce landscape. I leverage my strong front-end skills and tap into my experience of working with world class designers at Pixel Union to provide an invaluable perspective.</p>

<h3>CSS-Tricks</h3>

<p><a href="https://css-tricks.com/">css-tricks.com</a></p>

<p>
  <em>2009 - 2015</em><br>
  <strong>Forum Moderator</strong>
</p>

<p>Wrote over 5000 posts and helped forum members of all levels. I mainly focused on helping users with on HTML, CSS, and WordPress but I would also lend a hand with some JavaScript and design related questions.</p>

<h3>Pixel Union</h3>

<p><a href="https://www.pixelunion.net/">pixelunion.net</a></p>

<p>
  <em>2012 - 2014</em><br>
  <strong>Senior Developer</strong>
</p>

<p>Pixel Union builds themes for a number of different platforms like Shopify and Tumblr. I was originally hired to help the company move into the WordPress market. My initial role involved maintaining existing and creating new Tumblr themes. Eventually I transferred over to developing themes for Shopify and really sunk my teeth into it. Communication with Shopify was great and I was fortunate to be able to influence some of the decisions they made.</p>

<p>By the end of my stay I was the company's lead Shopify developer and most senior developer. I was responsible for overseeing all of the ongoing theme and staff development. With the help of some exceptional colleagues, we were able to create internal build tools that helped jumpstart each theme's creation.</p>

<p>Additionally, I was fortunate to work with incredibly talented designers who helped me understand the small details about designing for the web. That experience has given me an incredible advantage when developing for the front-end as I'm able to quickly spot (and fix) those small awkward parts of a storefront that could make or break a sale.</p>

<h3>Atomic Crayon</h3>

<p><a href="http://www.atomiccrayon.com/">atomiccrayon.com</a></p>

<p>
  <em>2009 - 2012</em><br>
  <strong>Junior Developer</strong>
</p>

<p>Helped manage content for more than ten different clients. Architected site structure and features for new websites to be used with the company’s proprietary CMS. Developed smaller scale websites using WordPress.</p>
